.Header{
    width: 100%;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0 px;
    margin-bottom: 15px ;
    background-color: #000;
    color: #ffffff;
}
.Home{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}x  